.lsp-session-v1
auto-save-list/
elpa/
eshell/
init.el~
projectile-bookmarks.eld
transient/
straight/
.projectile-cache.eld
.cache
projects
.aider*
url/
backups/
tree-sitter/
tramp
logview-cache.extmap
eln-cache/
